In [45]:
import numpy as np
import pandas as pd
df = pd.read_csv("../dataset/Sales Data.csv")
df

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,12/30/2019 0:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,NaN
1,1,295666,LG Washing Machine,1,600.00,12/29/2019 7:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7.0
2,2,295667,USB-C Charging Cable,1,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18.0
3,3,295668,27in FHD Monitor,1,149.99,12/22/2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15.0
4,4,295669,USB-C Charging Cable,1,11.95,12/18/2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12.0
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,6/7/2019 19:02,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19.0
185946,13618,222906,27in FHD Monitor,1,149.99,6/1/2019 19:29,"495 North St, New York City, NY 10001",6,149.99,New York City,19.0
185947,13619,222907,USB-C Charging Cable,1,11.95,6/22/2019 18:57,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18.0
185948,13620,222908,USB-C Charging Cable,1,11.95,6/26/2019 18:35,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18.0
185949,13621,222909,AAA Batteries (4-pack),1,2.99,6/25/2019 14:33,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14.0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185944 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 15.6+ MB

In [47]:
df.isnull().sum()

Unnamed: 0          0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                6
dtype: int64

In [48]:
df.drop_duplicates()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,12/30/2019 0:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,NaN
1,1,295666,LG Washing Machine,1,600.00,12/29/2019 7:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7.0
2,2,295667,USB-C Charging Cable,1,11.95,12/12/2019 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,18.0
3,3,295668,27in FHD Monitor,1,149.99,12/22/2019 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15.0
4,4,295669,USB-C Charging Cable,1,11.95,12/18/2019 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12.0
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,6/7/2019 19:02,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19.0
185946,13618,222906,27in FHD Monitor,1,149.99,6/1/2019 19:29,"495 North St, New York City, NY 10001",6,149.99,New York City,19.0
185947,13619,222907,USB-C Charging Cable,1,11.95,6/22/2019 18:57,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18.0
185948,13620,222908,USB-C Charging Cable,1,11.95,6/26/2019 18:35,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18.0
185949,13621,222909,AAA Batteries (4-pack),1,2.99,6/25/2019 14:33,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14.0

In [49]:
df['Hour']=df['Hour'].fillna(0)

In [50]:
df.isnull().sum()

Unnamed: 0          0
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64

In [51]:
df.dtypes

Unnamed: 0            int64
Order ID              int64
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
Month                 int64
Sales               float64
City                 object
Hour                float64
dtype: object

In [60]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [58]:
df['City'] = df['City'].str.strip().str.title()
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Order Date'] = df['Order Date'].dt.strftime('%d/%m/%Y')

In [53]:
df['Hour'] = df['Hour'].astype(int)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int32
dtypes: float64(2), int32(1), int64(4), object(4)
memory usage: 14.9+ MB

In [61]:
df

,unnamed:_0,order_id,product,quantity_ordered,price_each,order_date,purchase_address,month,sales,city,hour
0,0,295665,Macbook Pro Laptop,1,1700.00,30/12/2019,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,29/12/2019,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,12/12/2019,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,22/12/2019,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,18/12/2019,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,07/06/2019,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,01/06/2019,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,22/06/2019,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,26/06/2019,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,25/06/2019,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14